
   <script>
    feather.replace()
  </script>
   <script src="../assets/js/back.js"></script>
   <script src="../assets/js/darkMode.js"></script>
   <script src="../assets/js/searchBar.js"></script>
</body>
</html>