<header>

    <div class="nav-top">
        <i id="back" class="icons_medium" data-feather="chevron-left"></i>
        <p class="secondary-title"> <%= locals.title %> </p>
        <i class="search-icon icons_medium" data-feather="search"></i>
        <div class="header-search hide">
            <input class="header-search__input" type="search">
        </div>
    </div>
      
</header>