<header>

    <div class="nav-top">
        <i id="back" class="icons_medium icons_white" data-feather="chevron-left"></i>
        <p class="secondary-title white"> <%= locals.title %> </p>
        <ion-icon></ion-icon>
    </div>
</header>