<header>

    <div class="nav-top">
        <i id="back" class="white icons_medium" data-feather="chevron-left"></i>
        <p class="secondary-title secondary-title_white"> <%= locals.title %> </p>
        <i class="white icons_medium search-icon" data-feather="search"></i>
        <div class="header-search hide">
            <input class="header-search__input" type="search">
        </div>
    </div>
</header>