<nav class="navigation">
    <ul class="navigation__ul">
        <li>
            <a class="navigation__link" href="../albums">
                <i class="icons" data-feather="book-open"></i>
            </a>
        </li>
        <li>
            <a class="navigation__link" href="../playlist">
                <i class="icons" data-feather="music"></i>
            </a>
        </li>
        <li>
            <div class="circle">
                <a class="navigation__link" href="../">
                    <!-- <ion-icon class="icons icons_white" name="radio-outline"></ion-icon> -->
                    <i class="icons icons_white" data-feather="star"></i>
                </a>
            </div>
        </li>
        <li>
            <a class="navigation__link" onclick="toggleTheme()" href="#">
                <i class="icons" data-feather="moon"></i>
            </a>
        </li>
        <li>
            <a class="navigation__link" href="../categories">
                <i class="icons" data-feather="tag"></i>
            </a>
        </li>
    </ul>
</nav>