<div class="slider">
    <img class="slider__img round shadow" src='https://source.unsplash.com/random/130x130' alt=''>
    <img class="slider__img round shadow" src='https://source.unsplash.com/random/130x130' alt=''>
    <img class="slider__img round shadow" src='https://source.unsplash.com/random/130x130' alt=''>
    <img class="slider__img round shadow" src='https://source.unsplash.com/random/130x130' alt=''>
</div>