
<div class="songsBox">
    <img class="songsBox__img round" src='https://source.unsplash.com/random/50x50' alt=''>
    <div class="circle">
        <i class="icons icons_white" data-feather="play"></i>
    </div>
    <div class="songsBox__text">
        <h3 class="small-title-fat">Old Town Road</h3>
        <p class="small-text-lighter">Billy Ray Cyrus</p>
    </div>
    <p class="small-text-lighter">12 Songs</p>
</div>