<%- include ("../partials/before-header") %>
<%- include ("../partials/header", {title: "CATEGORIES"}) %>

<main class="main-grid">

    <div class="categories">
        <h1 class="main-title">Categories</h1>
 <!-- <div class="categories__foldout">
        <p class="categories__foldout_text">HEJ DIN GRIMME SATAN</p>
    </div> -->
    </div>
   

</main>

<script src="../assets/js/api-spotify.js"></script>
<script src="../assets/js/categories-api.js"></script>
<%- include ("../partials/footer") %>
<%- include ("../partials/after-footer") %>