<%- include ("../partials/before-header") %>
<%- include ("../partials/header", {title: "FEATURED"}) %>

<main class="main-grid">

    <h1 class="main-title">Featured</h1>
    <div class="featured">
       
          
    </div>
    

</main>

<script src="../assets/js/api-spotify.js"></script>
<script src="../assets/js/featured-api.js"></script>

<%- include ("../partials/footer") %>
<%- include ("../partials/after-footer") %>