<%- include ("../partials/before-header") %>

<main class="main-grid">

    <div class="welcome">
        <img class="welcome__img" src="\assets\img\Group 434@2x.png" alt="">
 
    </div>
</main>

<script src="../assets/js/api-spotify.js"></script>
<script src="\assets\js\welcome.js"></script>
<%- include ("../partials/after-footer") %>