// MAIN COLORS

$primary-color: #ff1168;
$secondary-color: #341931;
$additional-color: #111625;
$gradiant-color: linear-gradient(80deg, rgba(238, 9, 121, 1) 0%, rgba(255, 106, 0, 1) 100%);

// DIVERSE COLORS

$blue-color: #115793;
$lightBlue-color: #00a1cb;
$tealBlue-color: #0abebe;
$green-color: #3a7634;
$lightGreen-color: #5eb11c;
$yellow-color: #f2bc06;
$orange-color: #f18d05;

// COLORS

